<div class="container">

  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'posts'}}Rumbles{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
